.navbar{
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    background-color: rgb(194, 181, 181);
    top: 0;
    position: sticky;
}
.navbar>p{
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin-left: 40px;
}
.navbar>p:hover{
    font-weight: 500;
    color: black;
    margin-left: 40px;
    background-color: rgb(167, 153, 153);
    cursor:pointer;
    border-radius: 10px;
}
.navbar_img{
    height: 40px;
    border-radius: 20px;
}
.navbaruser{
    display: flex;
    width: 200px;
    align-items: center;
}
.navbarusername{
    margin-left:10px;
}
.Logo-content{
    display: flex;
    flex-direction: row;
}
.Logo-content>p{
    margin-left: 5%;
}
.Logo-content>p:hover{
    cursor:pointer;
}